wsdl/FinancialOperationAsyncResultService_schema2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.3-11/28/2011 06:21 AM(foreman)-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> -->
<xs:schema version="1.0" targetNamespace="http://financial.services.merchant.channelmanagermsp.sibs/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="requestFinancialOperationResult">
    <xs:sequence>
      <xs:element name="amount" type="xs:int" minOccurs="0"/>
      <xs:element name="currencyCode" type="xs:string" minOccurs="0"/>
      <xs:element name="merchantOperationID" type="xs:string" minOccurs="0"/>
      <xs:element name="statusCode" type="xs:string"/>
      <xs:element name="timestamp" type="xs:dateTime"/>
      <xs:element name="token" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

