wsdl/FinancialOperationAsyncResultService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.3-11/28/2011 06:21 AM(foreman)-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> -->
<xs:schema version="1.0" targetNamespace="http://webservices.sibsmerchant.com/" xmlns:tns="http://webservices.sibsmerchant.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://financial.services.merchant.channelmanagermsp.sibs/">

  <xs:import namespace="http://financial.services.merchant.channelmanagermsp.sibs/" schemaLocation="FinancialOperationAsyncResultService_schema2.xsd"/>

  <xs:element name="financialOperationResult" type="tns:financialOperationResult"/>

  <xs:element name="financialOperationResultResponse" type="tns:financialOperationResultResponse"/>

  <xs:complexType name="financialOperationResult">
    <xs:sequence>
      <xs:element name="arg0" type="ns1:requestFinancialOperationResult" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="financialOperationResultResponse">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>

