wsdl/MBWayWebServiceSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference 
	Implementation, (build IBM 2.2.3-11/28/2011 06:21 AM(foreman)-) See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> -->
<xs:schema version="1.0"
	targetNamespace="http://financial.services.merchant.channelmanagermsp.sibs/"
	xmlns:tns="http://financial.services.merchant.channelmanagermsp.sibs/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="requestFinancialOperation" type="tns:requestFinancialOperation" />

	<xs:element name="requestFinancialOperationResponse" type="tns:requestFinancialOperationResponse" />

	<xs:complexType name="requestFinancialOperation">
		<xs:sequence>
			<xs:element name="arg0" type="tns:requestFinancialOperationRequest" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="requestFinancialOperationRequest">
		<xs:sequence>
			<xs:element name="messageType" minOccurs="1" default="N0003" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aditionalData" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="alias" type="tns:alias" minOccurs="1" maxOccurs="1" />

			<xs:element name="financialOperation" type="tns:financialOperation" minOccurs="1" maxOccurs="1" />
			<xs:element name="referencedFinancialOperation" type="tns:financialOperation" minOccurs="0" />
			<xs:element name="merchant" type="tns:merchant" minOccurs="1" maxOccurs="1" />
			<xs:element name="messageProperties" type="tns:messageProperties" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="alias">
		<xs:sequence>
			<xs:element name="aliasName" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="55"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aliasTypeCde" maxOccurs="1" minOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="financialOperation">
		<xs:sequence>
			<xs:element name="amount" type="xs:int" maxOccurs="1" minOccurs="1" />
			<xs:element name="currencyCode" maxOccurs="1" minOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="operationTypeCode" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="merchantOprId" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="merchant">
		<xs:sequence>
			<xs:element name="iPAddress" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="posId" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="messageProperties">
		<xs:sequence>
			<xs:element name="channel" minOccurs="1" default="01" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="apiVersion" minOccurs="1" default="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="channelTypeCode" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="networkCode" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="serviceType" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="timestamp" type="xs:dateTime" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="requestFinancialOperationResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:requestFinancialOperationResult" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="requestFinancialOperationResult">
		<xs:sequence>
			<xs:element name="amount" type="xs:int" minOccurs="0" />
			<xs:element name="currencyCode" type="xs:string" minOccurs="0" />
			<xs:element name="merchantOperationID" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="statusCode" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="timestamp" type="xs:dateTime" minOccurs="1" maxOccurs="1" />
			<xs:element name="token" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>

