wsdl/MerchantAliasWSService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference 
	Implementation, (build IBM 2.2.3-11/28/2011 06:21 AM(foreman)-) See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> -->
<xs:schema version="1.0"
	targetNamespace="http://alias.services.merchant.channelmanagermsp.sibs/"
	xmlns:tns="http://alias.services.merchant.channelmanagermsp.sibs/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="createMerchantAlias" type="tns:createMerchantAlias" />

	<xs:element name="createMerchantAliasResponse" type="tns:createMerchantAliasResponse" />

	<xs:element name="removeMerchantAlias" type="tns:removeMerchantAlias" />

	<xs:element name="removeMerchantAliasResponse" type="tns:removeMerchantAliasResponse" />

	<xs:complexType name="removeMerchantAlias">
		<xs:sequence>
			<xs:element name="arg0" type="tns:removeMerchantAliasRequest"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="removeMerchantAliasRequest">
		<xs:sequence>
			<xs:element name="messageType" minOccurs="1" default="N0002"
				maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="5"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="alias" type="tns:alias" minOccurs="1"
				maxOccurs="1" />
			<xs:element name="merchant" type="tns:merchant" minOccurs="1"
				maxOccurs="1" />
			<xs:element name="messageProperties" type="tns:messageProperties"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="alias">
		<xs:sequence>
			<xs:element name="aliasName" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"></xs:minLength>
						<xs:maxLength value="250"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aliasTypeCde" maxOccurs="1" minOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="merchant">
		<xs:sequence>
			<xs:element name="iPAddress" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="posId" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="messageProperties">
		<xs:sequence>
			<xs:element name="channel" minOccurs="1" default="01"
				maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="apiVersion" minOccurs="1" default="1"
				maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="channelTypeCode" minOccurs="1"
				maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"></xs:minLength>
						<xs:maxLength value="10"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="networkCode" minOccurs="1"
				maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"></xs:minLength>
						<xs:maxLength value="10"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="serviceType" minOccurs="1"
				maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="2"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="timestamp" type="xs:dateTime" minOccurs="1"
				maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="removeMerchantAliasResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:removeMerchantAliasResult"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="removeMerchantAliasResult">
		<xs:sequence>
			<xs:element name="alias" type="tns:alias" minOccurs="0" />
			<xs:element name="statusCode" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="timestamp" type="xs:dateTime" minOccurs="1"
				maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="createMerchantAlias">
		<xs:sequence>
			<xs:element name="arg0" type="tns:createMerchantAliasRequest"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="createMerchantAliasRequest">
		<xs:sequence>
			<xs:element name="messageType" minOccurs="1" default="N0001"
				maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="5"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="alias" type="tns:alias" maxOccurs="1"
				minOccurs="1" />
			<xs:element name="merchant" type="tns:merchant" minOccurs="1"
				maxOccurs="1" />
			<xs:element name="messageProperties" type="tns:messageProperties"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="newAlias" type="tns:alias" minOccurs="1"
				maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="createMerchantAliasResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:createMerchantAliasResult"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="createMerchantAliasResult">
		<xs:sequence>
			<xs:element name="alias" type="tns:alias" minOccurs="0" />
			<xs:element name="operationId" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"></xs:minLength>
						<xs:maxLength value="10"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="statusCode" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="timestamp" type="xs:dateTime" minOccurs="1"
				maxOccurs="1" />
			<xs:element name="token" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="32"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>


</xs:schema>

