wsdl/MerchantOperationalWSService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference 
	Implementation, (build IBM 2.2.3-11/28/2011 06:21 AM(foreman)-) See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> -->
<xs:schema version="1.0"
	targetNamespace="http://operational.services.merchant.channelmanagermsp.sibs/"
	xmlns:tns="http://operational.services.merchant.channelmanagermsp.sibs/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!-- Start of the Close Accounting Period definition -->
	<xs:element name="closeAccountingPeriod" type="tns:closeAccountingPeriod" />

	<xs:element name="closeAccountingPeriodResponse" type="tns:closeAccountingPeriodResponse" />
	
	<xs:complexType name="closeAccountingPeriod">
		<xs:sequence>
			<xs:element name="arg0" type="tns:closeAccountingPeriodRequest" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="closeAccountingPeriodRequest">
		<xs:sequence>
			<xs:element name="messageType" default="N0005" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="5"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="operationInformation" type="tns:operationInformation" minOccurs="1" maxOccurs="1" />
			<xs:element name="merchant" type="tns:merchant" minOccurs="1" maxOccurs="1" />
			<xs:element name="messageProperties" type="tns:messageProperties" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="closeAccountingPeriodResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:closeAccountingPeriodResult" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="closeAccountingPeriodResult">
		<xs:sequence>
			<xs:element name="messageCode" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="4"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="merchantOprId" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="20"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="reversalRequest" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="posId" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="8"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="periodNumber" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="transactionNumber" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="messageNumber" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="transactionVersion" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="pmIdentification" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="8"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="mac" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="requestedTransaction" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="4"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="responseCode" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="statusCode" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="positiveResponseInformation" type="tns:positiveResponseInformation" minOccurs="0" maxOccurs="1" />
			<xs:element name="negativeResponseInformation" type="tns:negativeResponseInformation" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<!-- End of the Close Accounting Period definition -->
	
	<!-- Start of common definition -->
	<xs:complexType name="operationInformation">
		<xs:sequence>
			<xs:element name="merchantOprId" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"></xs:minLength>
						<xs:maxLength value="20"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="merchant">
		<xs:sequence>
			<xs:element name="iPAddress" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="posId" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="messageProperties">
		<xs:sequence>
			<xs:element name="channel" minOccurs="1" default="01" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="apiVersion" minOccurs="1" default="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="channelTypeCode" minOccurs="1"
				maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"></xs:minLength>
						<xs:maxLength value="10"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="networkCode" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"></xs:minLength>
						<xs:maxLength value="10"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="serviceType" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="2"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="timestamp" type="xs:dateTime" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="positiveResponseInformation">
		<xs:sequence>
			<xs:element name="cardId" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="20"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="merchantAccount" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="15"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="merchantBaseCurrencyCode" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="4"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="totalMerchAmountSignal" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="totalMerchAmount" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="transactionTotals" type="tns:transactionTotals" minOccurs="0" maxOccurs="12" />
			<xs:element name="commissionTotals" type="tns:commissionTotals" minOccurs="0" maxOccurs="61" />
			<xs:element name="receiptBody" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"></xs:minLength>
						<xs:maxLength value="421"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="negativeResponseInformation">
		<xs:sequence>
			<xs:element name="negativeResponseData" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="42"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	
	
	
	
	
	
	<xs:complexType name="transactionTotals">
		<xs:sequence>
			<xs:element name="transactionDescription" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="totalTransactions" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="amountTotal" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="commissionTotals">
		<xs:sequence>
			<xs:element name="contractDescription" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="totalTransactions" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="amountSignal" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="totalAmount" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="commissionSignal" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="totalCommission" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="8"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- End of common definition -->
</xs:schema>