wsdl/MerchantFinancialWSService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2017 (x64) (http://www.altova.com) by John Smith (JoSMt) -->
<!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference 
	Implementation, (build IBM 2.2.3-11/28/2011 06:21 AM(foreman)-) See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> -->
<xs:schema xmlns:tns="http://financial.services.merchant.channelmanagermsp.sibs/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://financial.services.merchant.channelmanagermsp.sibs/" version="1.0">
	<!-- Start of the Request Financial Operation definition -->
	<xs:element name="requestFinancialOperation" type="tns:requestFinancialOperation"/>
	<xs:element name="requestFinancialOperationResponse" type="tns:requestFinancialOperationResponse"/>
	<xs:complexType name="requestFinancialOperation">
		<xs:sequence>
			<xs:element name="arg0" type="tns:requestFinancialOperationRequest" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="requestFinancialOperationRequest">
		<xs:sequence>
			<xs:element name="messageType" default="N0003" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aditionalData" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="alias" type="tns:alias" minOccurs="1" maxOccurs="1"/>
			<xs:element name="financialOperation" type="tns:financialOperation" minOccurs="1" maxOccurs="1"/>
			<xs:element name="referencedFinancialOperation" type="tns:financialOperation" minOccurs="0"/>
			<xs:element name="merchant" type="tns:merchant" minOccurs="1" maxOccurs="1"/>
			<xs:element name="messageProperties" type="tns:messageProperties" minOccurs="1" maxOccurs="1"/>
			<xs:element name="financialOperationProperties" type="tns:financialOperationProperties" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="requestFinancialOperationResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:requestFinancialOperationResult" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="requestFinancialOperationResult">
		<xs:sequence>
			<xs:element name="amount" type="xs:int" minOccurs="0"/>
			<xs:element name="currencyCode" type="xs:string" minOccurs="0"/>
			<xs:element name="merchantOperationID" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="statusCode" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="timestamp" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
			<xs:element name="token" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- End of the Request Financial Operation definition -->
	<!-- Start of the Financial Operation Status Inquiry definition -->
	<xs:element name="financialOperationStatusInquiry" type="tns:financialOperationStatusInquiry"/>
	<xs:element name="financialOperationStatusInquiryResponse" type="tns:financialOperationStatusInquiryResponse"/>
	<xs:complexType name="financialOperationStatusInquiry">
		<xs:sequence>
			<xs:element name="arg0" type="tns:financialOperationStatusInquiryRequest" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="financialOperationStatusInquiryRequest">
		<xs:sequence>
			<xs:element name="messageType" type="xs:string" default="N0004" minOccurs="1" maxOccurs="1"/>
			<xs:element name="operationInformation" type="tns:operationInformation" minOccurs="1" maxOccurs="1"/>
			<xs:element name="financialOperationInquiry" type="tns:financialOperationInquiryReq" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="merchant" type="tns:merchant" minOccurs="1" maxOccurs="1"/>
			<xs:element name="messageProperties" type="tns:messageProperties" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="financialOperationStatusInquiryResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:financialOperationStatusInquiryResult" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="financialOperationStatusInquiryResult">
		<xs:sequence>
			<xs:element name="operationInformation" type="tns:operationInformation" minOccurs="1" maxOccurs="1"/>
			<xs:element name="referencedFinancialOperation" type="tns:financialOperationInquiryRes" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="statusCode" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="timestamp" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- End of the Financial Operation Status Inquiry definition -->
	<!-- Start of common definition -->
	<xs:complexType name="alias">
		<xs:sequence>
			<xs:element name="aliasName" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="250"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aliasTypeCde" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="financialOperation">
		<xs:sequence>
			<xs:element name="amount" type="xs:integer" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="currencyCode" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="operationTypeCode" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="merchantOprId" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="operationInformation">
		<xs:sequence>
			<xs:element name="merchantOprId" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="financialOperationInquiryReq">
		<xs:sequence>
			<xs:element name="merchantOprId" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="financialOperationInquiryRes">
		<xs:sequence>
			<xs:element name="merchantOprId" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="merchantOprTimestamp" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="merchantOprSttCde" type="xs:integer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="merchantOprSttCdeTimestamp" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="merchant">
		<xs:sequence>
			<xs:element name="iPAddress" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="posId" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="messageProperties">
		<xs:sequence>
			<xs:element name="channel" default="01" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="apiVersion" default="1" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="channelTypeCode" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="networkCode" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="serviceType" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="timestamp" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Financial Operation Properties (In-App Operative) -->
	<xs:complexType name="financialOperationProperties">
		<xs:sequence>
			<xs:element name="appFinOpProperties" type="tns:appFinOpProperties" minOccurs="0" maxOccurs="1"/>
			<xs:element name="publicSectorPaymentProperties" type="tns:publicSectorPaymentProperties" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="appFinOpProperties">
		<xs:sequence>
			<xs:element name="purchaseToken" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="initialTimestamp" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Public Sector Payment Properties -->
	<xs:complexType name="publicSectorPaymentProperties">
		<xs:sequence>
			<xs:element name="publicSectorEntity" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:maxInclusive value="99999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="expirationTimestamp" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- End of common definition -->
</xs:schema>
